# Package manager files
**/node_modules/*
**/package-lock.json
**/yarn.lock

# Build/executable files
**/build/*
**/bundles/*
**/dist/*
**/bin/*

# Environment configuration files
**/.github
**/.vscode

# Non JavaScript/TypeScript files
**/*.svg

# Ignore JSDocs
**/docs/*